.QuestionsGroupDiv {
}

.QuestionDiv {
    /* flex-wrap: wrap; */
    width: 1000px;
    padding: 10px;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;

    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 10px 0;
    border-radius: 15px;
    padding: 1rem;

    /* transition: height 0.5s ease; */
}

.Question {
    width: 400px;
}

.Options {
    padding: 0.25rem;
    width: 200px;
    border: 1px solid #00c700;
}

.AnswerOption:hover,
.AnswerWithImageDiv:hover {
    border: 1px solid #00c700;
    -webkit-box-shadow: inset 0px 0px 0px 3px #00c700;
    box-shadow: inset 0px 0px 0px 3px #00c700;
    transition: all 0.5s ease;
}

.AnswerOption {
    border: 0px solid transparent;
    border-radius: 10px;
    transition: all 1.5s ease;
    width: 100%;

    height: 0;
    overflow: hidden;
    padding: 0 1rem;

    /* opacity: 0; */
    transition: padding 0.25s ease;
}

.AnswerWithImageDiv {
    padding: 1rem;
    /* border: 1px solid rgba(0, 0, 0, 0.1); */
    border: 1px solid transparent;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
    border-radius: 10px;
    font-weight: 900;

    transition: all 0.5s ease;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}

.DropDownImage {
    width: 30px;
    height: 15px;
    transition: all 0.25s;
}

.DropDownImageAnimated {
    transform: rotate(-180deg);
    transition: all 0.25s;
}

.AnswerOptionAnimated {
    /* opacity: 1; */
    border-width: 1px;
    height: auto;
    padding: 1rem;

    transition: padding 0.25s ease, border 0.5s ease, box-shadow 0.5s ease;
    /* transition: all 0.5s ease; */
}

.AnswerDiv {
    /* background-color: rgb(248, 248, 248); */

    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 500px;
    border-radius: 10px;
    /* display: flex; */
    /* flex-direction: column; */
    cursor: pointer;
    /* border: 1px solid black; */
}

.Answer {
    width: 400px;
}

.CheckAnswersButton {
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;

    margin: 20px 0;
    /* margin-bottom: 10px; */

    padding: 0.5rem 1rem;
    /* background-color: hsla(0, 0%, 100%, 0.8); */
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    transition: all 0.5s ease;
}

.CheckAnswersButton:hover {
    transition: all 0.5s ease;
    box-shadow: inset 0px 0px 0px 3px #00c700 !important;
    border-color: #00c700 !important;
}

.returnImg {
    /* width: 30px; */
    /* height: 30px; */
    border: none;
    transition: filter 0.5s ease;
    z-index: 1;
}

.CheckAnswersButton:hover .returnButton {
    background-color: #00c700;
}
.CheckAnswersButton:hover .returnImg {
    transition: filter 0.5s ease;
    filter: brightness(0) invert(1);
}

.returnButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    margin-left: 10px;
    /* right: 1rem; */
    background-color: #f2f2f2;
    border-radius: 30px;
    border: none;
    transition: background-color 0.5s ease;
    /* width: 100%; */
    position: relative;
}

.WrongAnswer {
    -webkit-box-shadow: inset 0px 0px 0px 4px #f00;
    -moz-box-shadow: inset 0px 0px 0px 4px #f00;
    box-shadow: inset 0px 0px 0px 4px #f00;
    transition: all 0.5s ease;
}
