body {
    /* background-color: aqua; */
    height: 100vh;
}

.DragOn {
    /*border-style: dashed;*/
    border: 1px solid var(--GrabGreen);
    -webkit-box-shadow: inset 0px 0px 0px 3px var(--GrabGreen);
    box-shadow: inset 0px 0px 0px 3px var(--GrabGreen);
    /* cursor: pointer; */
}

.DragContentContainer {
    width: 1000px;
    display: flex;
}

.containerParQuestions {
}

.containerParAnswers {
    border-radius: 15px;
    padding: 10px;
    padding-top: 0;
    margin-left: 10px;
    transition: background-color 0.5s ease;

    /* overflow: auto; */
}

.Qrow {
    display: flex;
    flex-direction: column;
    padding: 10px;

    padding: 1rem;
    transition: all 0.5s ease;
    border-radius: 15px;
    background-color: var(--backgroundColor);
    border: 1px solid var(--BorderColor);
    margin: 10px 0;
    width: 500px;
}

.Question {
    /* width: 420px; */
    /* margin-right: 40px; */
    margin-bottom: 1rem;
}

/* ::-webkit-scrollbar { */
/* width: 0px; */
/* background: transparent; make scrollbar transparent */
/* } */

.AnswerDropZone {
    width: 100%;

    /* margin: 1rem 0; */
}

.box {
    min-height: 50px;
    padding: 1rem;
    transition: all 0.5s ease;
    border-radius: 15px;
    background-color: var(--BoxBackgroundColor);
    border: 1px solid var(--BorderColor);
    /* border: 1px solid rgba(0, 0, 0, 0.1); */
}

.containerParAnswersDivOver {
    /* background-color: red; */
    background-color: blue;
    background-color: var(--BoxBackgroundColor);
    transition: background-color 0.5s ease;
    cursor: move;
}

.AnswerDiv {
    padding: 1rem;
    transition: all 0.5s ease;
    border-radius: 15px;
    background-color: var(--BoxBackgroundColor);
    border: 1px solid var(--BorderColor);
    margin: 10px 0;
    width: 470px;
}

/* .AnswerDropZone:hover, */
.AnswerDiv:hover {
    transition: all 0.5s ease;
    /* transition: border 0.5s ease, box-shadow 0.5s ease, width 1s ease, */
    /* transform 2.5s, top 2s; */
    border: 1px solid var(--GrabGreen);

    -webkit-box-shadow: inset 0px 0px 0px 3px var(--GrabGreen);
    box-shadow: inset 0px 0px 0px 3px var(--GrabGreen);
}

.WrongAnswer {
    transition: all 0.25 ease;
    -webkit-box-shadow: inset 0px 0px 0px 4px #f00;
    -moz-box-shadow: inset 0px 0px 0px 4px #f00;
    box-shadow: inset 0px 0px 0px 4px #f00;
}

.AnswerAfterCheckDiv {
    /* width: 450px; */
    line-height: 25px;
    display: none;
    margin-top: 1rem;
    width: 100%;
    border-radius: 15px;
    padding: 0.5rem;
    border: 4px solid var(--GrabGreen);
}

.CorrectAnswerText {
    background-color: #ecfccb;
    color: #2ba100;
    padding: 0.2rem;
    border: 1px solid #2ba100;
    border-radius: 4px;
}
