.QuestionsGroupDiv {
    margin-bottom: 2rem;
}

.QuestionDiv {
    flex-wrap: wrap;
    width: 1000px;
    padding: 10px;
    display: flex;

    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 10px 0;
    border-radius: 10px;
}

.Question {
    width: 440px;
    margin-right: 40px;
}

.Answer {
    transition: all 0.5s ease;
    border-radius: 10px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0.5rem 0;

    padding: 10px;

    width: 490px;
    height: 30px;
}

.CorrectAnswer {
    /* inset 0px 0px 0px 4px #2ba100; */
    -webkit-box-shadow: inset 0px 0px 0px 4px #2ba100;
    -moz-box-shadow: inset 0px 0px 0px 4px #2ba100;
    box-shadow: inset 0px 0px 0px 4px #2ba100;
}

.WrongAnswer {
    -webkit-box-shadow: inset 0px 0px 0px 4px #f00;
    -moz-box-shadow: inset 0px 0px 0px 4px #f00;
    box-shadow: inset 0px 0px 0px 4px #f00;
}

.CorrectAnswerDiv {
    width: 450px;
}

.ContinueButtons {
    display: flex;
}

.ContinueButtons button {
    margin: 1rem;
}
