.QuestionsGroupDiv {
    margin-bottom: 2rem;
}

.QuestionDiv {
    flex-wrap: wrap;
    width: 1000px;
    padding: 10px;
    display: flex;

    border: 1px solid var(--BorderColor);
    margin: 10px 0;
    border-radius: 15px;
    padding: 1rem;

    /* transition: height 0.5s ease; */
}

.PressSpaceTitle {
    margin-top: 40px;
    margin-top: 30px;
}

.Question {
    width: 440px;
    margin-bottom: 1rem;
}

.Answer {
    color: var(--textColor);
    min-height: 50px;
    padding: 1rem;
    transition: all 0.25s ease;
    border-radius: 10px;
    background-color: var(--BoxBackgroundColor);
    border: 1px solid var(--BorderColor);
    width: 100%;
}

.Answer:focus {
    -webkit-box-shadow: inset 0px 0px 0px 4px var(--GrabGreen);
    -moz-box-shadow: inset 0px 0px 0px 4px var(--GrabGreen);
    box-shadow: inset 0px 0px 0px 4px var(--GrabGreen);
    outline: none;
}

.CorrectAnswer {
    /* inset 0px 0px 0px 4px var(--GrabGreen); */
    -webkit-box-shadow: inset 0px 0px 0px 4px var(--GrabGreen);
    -moz-box-shadow: inset 0px 0px 0px 4px var(--GrabGreen);
    box-shadow: inset 0px 0px 0px 4px var(--GrabGreen);
    transition: all 0.5s ease;
}

.WrongAnswer {
    -webkit-box-shadow: inset 0px 0px 0px 4px #f00;
    -moz-box-shadow: inset 0px 0px 0px 4px #f00;
    box-shadow: inset 0px 0px 0px 4px #f00;
    transition: all 0.5s ease;
}

.CorrectAnswerDiv {
    line-height: 25px;
    display: none;
    margin-top: 1rem;
    width: 100%;
    border-radius: 10px;
    padding: 0.5rem;
    border: 4px solid var(--GrabGreen);
}

.ContinueButtons {
    display: flex;
}

.ContinueButtons button {
    margin: 1rem;
}
